@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    border-radius: 0px !important
}

#cartButton {
    margin-right: 8px;
}

.loginForm {
    margin: 10%;
}

.checkoutForm {
    margin-top: 5%;
}

.orderForm {
    margin-top: 5%;
    border-radius: 20px;
    border-style: solid;
    border-color: #2fa4e7;
}

a {
    text-decoration: none !important;
}

    a.remove:hover {
        color: blue;
    }

.center_div {
    margin: 0 auto;
    width: 80% /* value of your choice which suits your alignment */
}

.marginTop {
    margin-top: 5%;
}

.marginTop1 {
    margin-top: 2%;
}

.formPullRightButton {
    margin-right: 10px !important
}

.carousel img {
    min-width: 100%;
}

.album-card-title {
    font-weight: 300 !important
}

.table-data {
    padding-top: 20px !important;
}

    .table-data h4 {
        margin: -5px 5px 5px 0px !important;
    }

.bg-image-full {
    height: 400px !important;
    background-size: cover;
    padding: 0px;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin: 1rem;
    position: relative;
}

    .demo-card-square.mdl-card:hover {
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
    }

.demo-card-square > .mdl-card__title {
    color: #fff;
    background: #03a9f4;
}

.demo-card-square > .mdl-card__accent {
    background: #ff9800;
}

.thumbnail-image {
    display: block !important;
    max-width: 320px !important;
    max-height: 320px !important;
    width: auto !important;
    height: auto !important;
}

.thumbnail-image-xs {
    display: block !important;
    max-width: 150px !important;
    max-height: 150px !important;
    width: auto !important;
    height: auto !important;
}

.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/Images/Main_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 350px;
    padding-top: 50px;
}