@model Album
@{
    ViewData["Title"] = "Not Enough In Stock";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">
                        Sorry! <strong>@ViewBag.ErrorMessage</strong>
                    </h1>

                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <a style="text-decoration: none" href="@Url.Action("AlbumDetails", "Album", new { id = Model.AlbumId })">
                            <input class="btn btn-success" value="Go Back">
                            </a>
</div>
                    <div class="col-md-6 text-left">
                        <a style="text-decoration: none" href="@Url.Action("Index", "Home")">
                            <input class="btn btn-success" value="Go Home">
                            </a>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
