@if (Model > 0)
{
    <button type="submit" class="btn btn-lg btn-success" role="button">Add to Cart</button>
}
else
{
    <button type="submit" class="btn btn-lg btn-danger" role="button" disabled>Out of Stock</button>
}

