@model Album
@{
    ViewData["Title"] = "Not Enough In Stock";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">
                        Thank you for placing your order!<i style="font-size: 33px" class="material-icons">mood</i>
                    </h2>

                    <div class="col-md-4">
                    </div>
                </div>
                <div class="mdl-grid">
                    <div class="col-md-6 text-right">
                        <a style="text-decoration: none" href="@Url.Action("MyAccount", "Account")">
                            <input class="btn btn-success" value="View Order History">
                        </a>
                    </div>
                    <div class="col-md-6 text-left">
                        <a style="text-decoration: none" href="@Url.Action("Index", "Home")">
                            <input class="btn btn-success" value="Go Home">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
